@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #618dfb;
}

.Flag {
  width: 85px;
  margin-left: 3px;
  margin-top: 3px;
}

.Nav-icon {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.sizeI {
  width: 30px;
}

.Left {
  margin-left: auto;
  margin-right: 20px;
}

.right {
  margin-right: 20px;
}

.background-Nav {
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: #61c2fb;
}

.center {
  color: antiquewhite;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

.Search-Background {
  height: 200px;
  background-image: url("https://images.ctfassets.net/4ivszygz9914/2282b0b8-4bf4-4c3e-8606-e6a44b8afd5e/5f6eb05510ec1df10239d4db0bf1d0d3/9334400d-90eb-4fb0-9ada-06df9a08862a.jpeg?fm=webp");
}

.search-bar::placeholder {
  color: aliceblue;
}

.search-bar {
  padding: 10px;
  color: white;
  background-color: #3d7af3;
  font-size: large;
  width: auto;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: grid;
  justify-content: center;
}

.search-barH {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
}

.grid-Country {
  display: grid;
  grid-template-areas: "a a";
}

.countryC {
  border: #282c34 solid 1px;
  height: 160px;
  font-size: large;
}

.CountryN {
  text-align: end;
  color: #282c34;
  font-size: 20px;
  margin-right: 7px;
}

.CityN {
  text-align: end;
  color: rgb(5, 75, 75);
  font-size: 25px;
  margin-right: 7px;
}

a {
  text-decoration: none;
}

.FlagD {
  margin-left: 20px;
  width: 200px;
}

.countryDC {
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("https://i.ytimg.com/vi/n2ZfESR-WBs/maxresdefault.jpg");
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.countryND {
  margin-top: 80px;
  margin-right: 80px;
}

.dailyHeader {
  color: aliceblue;
  text-align: center;
  background-color: #293554;
}

.dailyForcastC {
  flex-wrap: wrap;
  display: flex;
  border-bottom: black 1px solid;
  height: auto;
}

.dailyForcastC div {
  
  margin-left: 5px;
  font-size: 16px;
  width: 170px;
}

.dailyForcastC:nth-child(even) {
  background-color: #3d7af3;
}

.space-between {
  
  border-top: #282c34 solid 1px; ;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.space-between:nth-child(even){
  border-left: #282c34 solid 1px;
}

.dateH {
  font-size: small;
}

.arrowspan{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
  width: 20px;
}

.FlagArrowC{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}